* {
    font-family: 'Poppins',sans-serif;
}

body {
    background: rgb(253,143,29);
    background: linear-gradient(90deg, rgba(253,143,29,1) 13%, rgba(131,58,180,1) 55%, rgba(252,176,69,1) 100%);
}

.container {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    row-gap: 0px;
    column-gap: 70px;
    justify-content: center;
    align-items: center;
}

.box1 {
    position:relative;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: white;
}

.box2 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: white;
}

.box3 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: white;
}

.box4 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: white;
}

.box5 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: white;
}

.box6 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color:white;
}

.dr{
    background-color:mediumpurple;
}

.tb{
    padding-top:870px;
}

