
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container">
    <div class="box1">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ulaşım
            </button>
            <ul class="dropdown-menu dr">
                <li><a class="dropdown-item" href="/Home/Vapurİskeleleri">Vapur İskeleleri</a></li>
                <li><a class="dropdown-item" href="/Home/TaksiDuraklari">Taksi Durakları</a></li>
                <li><a class="dropdown-item" href="/Home/BisimIstasyonlari">Bisim İstasyonları</a></li>
                <li><a class="dropdown-item" href="/Home/OtobusTerminalleri">Otobüs Terminalleri</a></li>
            </ul>
        </div>
    </div>
    <div class="box2">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Çevre
            </button>
            <ul class="dropdown-menu dr">
                <li><a class="dropdown-item" href="/Home/SuUretimi">Su Üretimi</a></li>
                <li><a class="dropdown-item" href="/Home/ArizaKaynakliSuKesintileri">Arıza Kaynaklı Su Kesintileri</a></li>
            </ul>
        </div>
    </div>
    <div class="box3">
        Yaşam
    </div>
    <div class="box4">
        Eğitim
    </div>
    <div class="box5">
        Ekonomi
    </div>
    <div class="box6">
        Tarım
    </div>
</div>


